@model IEnumerable<_PIM.Models.ProdutoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/produtos.css" />
}
<h1>Gerenciamento de estoque</h1>

<button class="Actions" onclick="window.location.href='@Url.Action("Create")'">
    <p>Adicionar produto</p>
</button>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Nome)</th>
            <th>@Html.DisplayNameFor(model => model.First().Preco)</th>
            <th>@Html.DisplayNameFor(model => model.First().Quantidade)</th>
            <th>@Html.DisplayNameFor(model => model.First().UrlImagem)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantidade)</td>
                    <td>@Html.DisplayFor(modelItem => item.UrlImagem)</td>
                    <td>
                        <button class="Actions" onclick="window.location.href='@Url.Action("Edit", new { id = item.Id })'">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="Actions" onclick="window.location.href='@Url.Action("Delete", new { id = item.Id })'">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Nenhum produto encontrado.</td>
            </tr>
        }
    </tbody>
</table>
