@model _PIM.Models.SensorViewModel
@{
    ViewData["Title"] = "Sensores da Planta";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Sensores da Planta: @Model.Planta.Nome</h2>
<h3>Fase: @Model.Fase</h3>

<div>
    <h4>Sensor de Umidade</h4>
    <p>Valor Atual: @Model.DadosSensorHumidade.Valor %</p>
    <p>Intervalo Ideal: @Model.Planta.Germinacao.MinHumidade% - @Model.Planta.Germinacao.MaxHumidade%</p>
</div>

<div>
    <h4>Sensor de Nutrientes</h4>
    <p>Valor Atual: @Model.DadosSensorNutrientes.Valor ppm</p>
    <p>Intervalo Ideal: @Model.Planta.Germinacao.MinNutrientes - @Model.Planta.Germinacao.MaxNutrientes ppm</p>
</div>

<a href="@Url.Action("ListaPlantas", "Admin")">Voltar para a Lista de Plantas</a>
